main {
    min-height: 80vh;
}

.header-icon {
    font-size: 18px;
}

.product-card {
    text-decoration: none;
}

.zooming-container {
    overflow: hidden;
}

.zoomimg {
    transition: transform 0.2s ease;
}

.zoomimg:hover {
    transform: scale(1.1);
}

.h6-row {
    display: flex;
}

.h6-left {
    flex-grow: 1;
}

.h6-right {
    text-align: right;
}

.product-description {
    font-size: large;
    text-align: justify;
}

.about-us-text {
    text-align: justify;
    font-size: 1.3rem;
}

.title-h1 {
    font-size: 2rem;
    padding: 1rem 0;
}

.title-h2 {
    font-size: 1.4rem;
    padding: 1rem 0;
}

tr td {
    vertical-align: middle;
}

.navbar .custom-dropdown {
    padding: 0;
    margin: 0;
}
